body {
	background: #f7f8f9;
}

ul {
	list-style: none;
	margin: 0;
}

.card {
	box-shadow: 0 0.2rem 0.5rem rgb(48 55 66 / 30%);
	background: #fff;
}

.empty {
	box-shadow: 0 0.2rem 0.5rem rgb(48 55 66 / 20%);
	background: #fff;
}
.empty-icon {
	font-size: 1.5rem;
	font-weight: bold;
}

.loading {
	margin-top: 2rem;
}
